.button-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.button-box__btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-bg-color);
    border: .2rem solid var(--main-bg-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.button-box__btn:hover{
    color: var(--main-bg-color);
}

.button-box__btn:nth-child(2) {
    background: transparent;
    color: var(--main-bg-color);
}

.button-box__btn:nth-child(2):hover{
   color: var(--bg-color); 
}

.button-box__btn:nth-child(2)::before{
    background: var(--main-bg-color);
}

.button-box__btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.button-box__btn:hover:before {
    width: 100%;
}