.animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: yellowgreen;
    z-index: 98;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}